<h2>About</h2>

<div class="card z-depth-3">
  <div class="card-content white-text">
    <div class="row">
      <div class="col m6">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/LanaParrilla?ref_src=twsrc%5Etfw">Tweets by LanaParrilla</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col m6">
        <div class="card-panel teal lighten-1 z-depth-1">
          <div class="row">
            <div class="col m3">
              <%= image_tag "lana.gif", class: "cirle responsive-img" %>
            </div>
            <div class="col m9">
              <spane class="white-text">
                <h5>Lana Parrilla</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, nostrum, dolore commodi quibusdam placeat magnam consequatur tempora dolorum laborum eos consequuntur nisi porro tenetur odit esse distinctio repellat impedit ipsum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis excepturi quidem, reprehenderit culpa ea ratione. Hic minus voluptatum, perferendis blanditiis error! Nisi libero excepturi ratione impedit culpa. Voluptatibus, molestiae! Magnam!</p>
              </spane>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>